body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h1 {
  background-color: #007BFF;
  color: white;
  padding: 10px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  box-sizing: border-box; 
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

/*botão para adicionar contato*/
button {
  padding: 10px 20px;
  background-color: #007BFF;
  margin-left: 0%;
  margin-right: 30px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


table {
  background-color: #fff;
  width: calc(100% - 360px);
  margin-left: 30px;
  margin-right: 30px;
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #007BFF;
  color: white;
}


/* caixa pesquisar por nome*/
#consulta-form {
  display: inline-block;
  background-color:#fff;
  padding: 20px;
  width: 600px; /* Aumentar a largura*/
  height: 100px;
  margin: 10px;
  float: right;
  border-radius: 5px;
}

/* caixa de nome, email, telefone e categoria */
#contato-form {
  background-color: #fff;
  padding: 35px;
  position: sticky;
  width: 40%; /* Defina a largura como 50% para ocupar metade da tela */
  margin: 10px auto; /* Centralize horizontalmente */
  height: 310px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  float: left;
}

#pesquisa {
  width: 98%; /* Definir a largura */
  padding: 10px;
  margin-bottom: 5px;
  border: px solid #f1eded;
  border-radius: 4px;
}

#categoria {
  margin-bottom: 10px;
}

#contatos-table {
  width: 98%;
}
