body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}  
#consulta-form {
  background-color:#fff;
    padding: 10px;
    max-width: 750px;
    width: 70%;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(151, 144, 144, 0.2);
}

#contato-form {
  background-color:#fff;
    padding: 10px;
    max-width: 750px;
    width: 70%;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(151, 144, 144, 0.2);
}

h1 {
  background-color: #007BFF;
  color: white;
  padding: 10px;
  text-align: center;
}
label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}
input[type="text"],
input[type="name"]{
  box-sizing: border-box; 
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 30px;
  background-color: #007BFF;
  margin-left: 0%;
  margin-right: 30px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
table {
  background-color: #fff;
  width: calc(100% - 360px);
  margin: 10px;
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #007BFF;
  color: white;
}
ul.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0; /* Adicione margem na parte inferior */
}
ul.pagination li {display: inline;}

ul.pagination li a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}
ul.pagination li a.active {
  background-color: #007BFF;
  color: white;
}
ul.pagination li a:hover:not(.active) {background-color: #ddd;}

#Cadastro_contacts {
  margin: 10px;
}

