.dark-mode {
  background-color: #808080;
  color: blue;
  transition: 0.3s;
}

.dark-mode .primeiro-navbar {
  color: #333;
}

.dark-mode .segundo-navbar {
  background-color: #333;
  color: blue;
}

.dark-mode #registro-contatos {
  background-color: #333;
}

.dark-mode #consulta-contatos {
  background-color: #333;
}

.dark-mode #resultado-contatos {
  background-color: #333;
}

.dark-mode footer {
  color: #333;
}

.dark-mode button {
  color:darkblue ;
  border: none;
}

.dark-mode th {
  color: darkblue;
}

.dark-mode .btn-page {
  color: darkblue;
}