* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  transition: 0.3s;
}

.modal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  margin: 5px 10px;
  margin-bottom: 4rem;
}

@media (max-width: 800px) {
  #register-contacts {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  #consult-contacts {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(151, 144, 144, 0.2);
  }

  .footer {
    width: 100vw;
    text-align: center;
    margin-left: 0px;
  }
}