@media screen and (max-width:600px) {
  /*Tela Pequena*/
  #register-contacts {
    background-color: #fff;  
    width: 49%; /* largura */
    margin: 10px ; /* Centralize horizontalmente */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    float: left;
  }  
  
  #consult-contacts {
  background-color:#fff;  
    max-width: 650px; /* Aumentar a largura*/
    width: 90%;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(151, 144, 144, 0.2);
    float: left;
  }  
}  

@media screen and (min-width: 601px) and (max-width: 1024) {
  /*Tela Media*/
  #register-contacts {
    background-color: #fff;
    padding: 10px;
    width: 49%; /* largura */
    margin: 10px ; /* Centralize horizontalmente */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
  }  
  
  #consult-contacts {
    background-color:#fff;
    padding: 10px;
    max-width: 650px;
    width: 40%;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(151, 144, 144, 0.2);
  }  
  
  #result-contacts {
    width: 98%; /* Definir a largura */
    padding: 2px;
    margin-bottom: 15px;
    border: 3px solid #f1eded;
  }  
}  

@media screen and (min-width: 1025px) {
  /*Tela Grande*/
  #register-contacts {
    background-color: #fff;
    padding: 20px;
    width: 49%; /* largura */
    margin: 10px ; /* Centralize horizontalmente */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    float: left;
  }  
  
  #consult-contacts {
    background-color:#fff;
    padding: 25px;
    width: 43%;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(151, 144, 144, 0.2);
    float: left;
  }  
  
  #result-contacts {
    width: 98%; /* Definir a largura */
    padding: 2px;
    margin-bottom: 15px;
    border: 3v solid #f1eded;
  }  
}  

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}  

h1 {
  background-color: #007BFF;
  color: white;
  padding: 10px;
  text-align: center;
}  

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}  

input[type="text"],
input[type="email"],
input[type="tel"] {
  box-sizing: border-box; 
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}  


.Categorias select {
  padding: 6px; 
  font-size: 15px; 
  border: 2px solid #ccc; 
  border-radius: 5px; 
  width: 15%; 
  background-color: #f9f9f9; 
  color: #5c5858; 
}

/* Estilize o contêiner das categorias (opcional) */
.Categorias {
  margin-bottom: 1px; 
}

/* Estilize a borda quando a caixa de seleção está focada */
.Categorias select:focus {
  outline: none; 
  border-color: #007bff;
}


/*botão para adicionar contato*/
button {
  padding: 10px 30px;
  background-color: #007BFF;
  margin-left: 0%;
  margin-right: 30px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}  

button:hover {
  background-color: darkblue;
}

/* tabelo de resultado do cadastro*/
table {
  background-color: #fff;
  width: calc(100% - 360px);
  margin: 20px;
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}  

.acoes {
  width: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}  

th {
  background-color: #007BFF;
  color: white;
}  
ul.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0; /* Adicione margem na parte inferior */
}

ul.pagination li {
  display: inline;
}

    ul.pagination li a {
      color: black;
      padding: 8px 16px;
      text-decoration: none;
      text-align: center;
    }

        ul.pagination li a.active {
          background-color: #007BFF;
          color: white;
        }
            ul.pagination li:not(:last-child) {
              margin-right: 5px; /* Adicione uma margem à direita para criar a linha branca */
            }

              ul.pagination li a.active:hover {
                background-color:darkblue;
                }

.seta:hover {
  background-color:gainsboro;
}
                
#selectCategorias {
  margin-bottom: 10px;
  tr:hover {
  background-color: #ac1313;  
  transition: background-color 0.3s;
  margin-bottom: 10px;
}  

/* Styles for forms */

#register-contacts {
  background-color: #fff;
  padding: 20px;
  width: 49%; /* largura */
  margin: 10px ; /* Centralize horizontalmente */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  float: left;
}  

#consult-contacts {
  background-color:#fff;
  padding: 20px;
  max-width: 650px;
  width: 40%;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(151, 144, 144, 0.2);
  float: right;
}  

#result-contacts {
  width: 98%; /* Definir a largura */
  padding: 2px;
  margin-bottom: 15px;
  border: 3v solid #f1eded;
}  
}
